
@model IEnumerable<WebTest.Models.Contact>

<h2>Список контактов</h2>
<table class="table">
    <tr>
        <th>Табельный номер</th>
        <th>ФИО</th>
        <th>Адрес</th>
        <th>Эл.Почта</th>
        <th>Дата рождения</th>
        <th>Вн. Номер</th>
        <th>Внеш. номер</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr> 
            <td>@item.TabN</td>
            <td>@item.FIO</td>
            <td>@item.Adress</td>
            <td>@item.Email</td>
            <td>@item.DateBoth</td>
            <td>@item.InNmb</td>
            <td>@item.OutNmb</td>
        </tr>
    }
</table>